html { 
    box-sizing: border-box;
    }
    *, *:before, *:after { 
    box-sizing: inherit;
    }
    .site { 
      color: #343434;
      margin: 0;
      padding: 0; 
      font-family: 'Kadwa', serif; 
     font-weight: 200;
      line-height: 1.5;
    }
    .site-header { 
      background: #FF8374;
    }
    .site-header .layout-hero{ 
      min-height: 20vh;
    }
   
    .site-header .page-section-title{ 
      font-size: 3em;
      font-family: 'Kadwa', serif; 
      font-weight: 200;
    }
    .site-header .page-section-text{ 
      font-size: 1.2em;
    }
    a { 
      color: #EFF0F1;
  } 
  a:hover { 
      text-decoration: none;
  } 
    
    /*********************** HEADERS ***********************/
    .page-title{  
        background-color:#FF6F61;
      }
    
    h1 { 
      font-size: 100px;
      line-height: 1; 
    } 
    /* Added a text effect to the h1 header*/
    h1.printers {
    font-family: 'Domine', serif;
    font-weight: 600;
    background-color:#FF6F61;	
    color: #EFF0F1;
    text-shadow:
    0 1px 0px #FF8C7D,
    1px 0 0px #FFA290,
    1px 2px 1px #FF8C7D,
    2px 1px 1px #FFA290,
    2px 3px 2px #FF8C7D,
    3px 2px 2px #FFA290,
    3px 4px 2px #FF8C7D,
    4px 3px 3px #FFA290,
    4px 5px 3px #FF8C7D,
    5px 4px 2px #FFA290,
    5px 6px 2px #FF8C7D,
    6px 5px 2px #FFA290,
    6px 7px 1px #FF8C7D,
    7px 6px 1px #FFA290,
    7px 8px 0px #FF8C7D,
    8px 7px 0px #FFA290; 
    }
    h2 { 
      font-size: 45px;
    }
    h1,h2 { /* changed the font family to 'Domine', serif;*/
      font-family: 'Domine', serif;
      font-weight: 400;
      margin: 0;
    }
    .content-wrap { 
      max-width: 800px;
      width: 85%;
      margin: 0 auto;
      padding: 30px 0;
    } 
   
    h3 { 
    margin-bottom: 0;
    }
    /*********************** NAVIGATION ***********************/
    /*. masthead{ 
      background-color: aqua;
    }*/
    input#mobile_menu{ 
      display: none;
    }
    input#mobile_menu:checked + nav { 
       left: 0;
    }
    input#mobile_menu:checked + nav label { 
    background-image: url(images/menu_close.svg);
   }
    nav {
    width: 180px;
    background-color: #FEA088;
    padding:10px 20px 10px 25px;
    color: #fff;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: -180px;
    transition: left .6s ease-in-out;
    }
    nav a{ 
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 14px 0;
    border-top: 1px solid rgba(255,255,255,.1);
    }
    nav a:first-of-type{ 
      border-top: none;
    }
    nav label{ 
      cursor: pointer;
      display: block;
      width: 42px;
      height: 42px;
      background: #FF6F61 url(images/menu_open.svg) no-repeat center center;
      background-size: 22px auto;
      position: absolute;
      top: 78px;
      right: -42px;
    }
    nav a:hover { 
      background-color: #EFF0F1;
    }
  /********************  GAllERY *********************/
    #page-multicolumn{ 
      background:whitesmoke;
      
    }
   
 
    .page-section-header .page-section-title{ 
      font-size: 4em;
      font-family: 'Kadwa', serif;
      font-weight: 200;
     
    }
    .page-section-header .page-section-text{ 
      font-size: 1.2em;
      font-weight: 200;
     
    }
   colors{ 
    color:#FF6F61;
    color: #FF8374;
    color: #FEA088;
    color:#EFF0F1; 
    color: #85CED1; 
    color:  #008684; 
  }/**/
   
    /*****************  CONTACT INFO / SOCIAL MEDIA  *****************/
    .content-footer{ 
      max-width: 800px;
      width: 85%;
      margin: 0 auto;
      padding: 5px 0;
    }

    footer { 
        font-family: 'Domine', serif;
        background-color: #4c7e7b; 
        color:#EFF0F1; 
        clear: both; 
    }
    .contact-list { 
      list-style-type: none;
      padding: 0;
      
    }
    .contact-list a { 
      padding: 15px;
      display: inline-block;
    }
    /***************** RESPONSIVE *****************/
    @media screen and (min-width: 750px) { 
      header, footer{ 
        text-align: center;
      } 
   
      
      .contact-list{ 
        display: flex;
      justify-content: center;
      }
    } 
    
    @media screen and (max-width: 749px) {
    h1 { 
      font-size: 75px;
      line-height: 0.9;
      margin-bottom: 20px;
    }
     h2 { 
      line-height: 1;
     }
     .contact-list a {
       padding: 5px;
     }
    }